body {
    width: 100%;
    margin: 0px;
}

#updateIntervalRange  {
  width: 8em;
  height: 0.7em;
}
#updateIntervalText {
  width: 2em;
  height: 1.2em;
}

.current_prog {
  width: 34em;
  margin-left: 0.4em;
}

.current_time {
  font-size: 8px;
  display: inline;
}

.log {
  background-color: #222222;
  color: #f1f1f1;
  border-style: double;
}

.ccache_stats::before {
  content: " |";
}

.ccache_stats {
  font-size: 8px;
  display: inline;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}

.clang_format_warn::before {
  color: #ff5722;
  font-weight: bold;
  content: " ⚠"
}
.clang_format_warn {
  color: #ff5722;
  font-weight: bold;
}
.clang_format_warn::after {
  color: #ff5722;
  font-weight: bold;
  content: "⚠ "
}

.job_item {
  list-style-type: none;
  padding-bottom: 0.2em;
  margin-bottom: 0.2em;
}

.job_item:nth-child(odd) {
  background: linear-gradient(to right, #e6e6e6, white);
}

.queued_h::before {
  font-weight: bold;
  content: "⏳"
}
.queued_h {
  font-size: medium;
}
.queued_ul>.job_item {
  float: left;
  margin-left: 0.5em;
}
.queued_ul>.job_item::before {
  content: " | ";
}


.done_h::before {
  font-weight: bold;
  content: "✓"
}
.done_h {
  font-size: medium;
}

/* status messages */
.fail { font-weight: bold; color: red !important; padding-right: 0.3em; }
.warning { font-weight: bold; color: #ffaf00 !important; padding-right: 0.3em; }
.good { font-weight: bold; color: green !important; padding-right: 0.3em; }

#header {
    background: beige;
    border-style: outset;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0.3em;
    margin-bottom: 0.2em;
    padding: 0.3em;
}

#main {
    margin-left: 1em;
    margin-right: 1em;
}
